*{
  font-family:Arial,sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*header*/

/*header color background*/
header{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#myChart{
  position: relative;
  width: 50vw;
  height: 50vh;
}

nav{
  height: 80px;
  display: flex; /*flexbox*/
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/*creazione del logo*/
#logo{
  cursor: pointer;
  /*per rendere il logo sempre grande uguale anche se cambio la grandezza della pagina*/
  display: inline-block;
  max-height: 60px;
  width: auto;
  gap: 20px;
  
}


/*rimuove i punti che si formano quando crei una lista*/
nav li{
  list-style: none;
}

/*cambia l'aspetto delle parole nella barra*/
nav a{
  color:black;
  text-decoration: none;
  font-size: 20px;
  
}

/*in questo punto cronologico viene sistemata la barra, che passa da essere sotto al logo a essere di fianco, grazie alla flex box*/


/*trasformo il menu in una flexbox, così si passa da una lista di elementi che stavano in verticale, a una lista orrizzontale più bella da vedere*/
nav ul{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 60px;

}

/*questo fa in modo che quando passi sopra alle parole del menù le caselline si illuminano*/
nav li:hover{
  background-color: lightgray;
}

/*questo fa in modo che quando passi sopra alle parole del menù esse cambiano colore*/
nav a:hover{
  color: dodgerblue;
}


/*login page*/


.container{
  display: flex;
}
.sinistra{
  flex: 0 0 60%;
  background-color: rgb(204, 82, 82);
  height: 100vh;
}

.destra {
  flex: 1;
} 

.testo-sinistra{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}
.login{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}

.form{
  color: black;
  height: 100px;
  display: flex; /*flexbox*/
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}

/*homepage*/

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/*consumptions*/

.consumptions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
